<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>add-new-group</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container mt-5">

    <!-- <div class="row mt-5">
      <h3>add users</h3>
    </div>

    <div class="row mt-2">
      <form [formGroup]="myForm">
          <input type="text" class="form-control" placeholder="group name" aria-label="group name"
            aria-describedby="groupName" [formControlName]="'groupName'"  [ngClass]="{ 'border border-danger': groupName.invalid && (groupName.dirty || groupName.touched) }">

        <div formArrayName="inputs">
          <div *ngFor="let input of inputs.controls; let i = index;" class="row mt-1">
            <input [formControlName]="i"
              [ngClass]="{ 'border border-danger': input.invalid && (input.dirty || input.touched) }">
          </div>
        </div>
        <button-proiect class="mt-1" [buttonText]="'Add new user'" (click)="addNewUser()"></button-proiect>
      </form>
      <button class="mt-3 btn btn-primary" (click)="submit()" [disabled]="myForm.invalid">Submit</button>
    </div>

    <div #toast></div> -->

    <h1>{{groupName}}</h1>

  </div>
</ion-content>